[submodule "engine/vendor/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/vendor/log"]
	path = deps/log
	url = https://github.com/rxi/log.c.git
[submodule "engine/vendor/cvec"]
	path = deps/cvec
	url = https://github.com/TheFrainD/cvec.git
[submodule "engine/vendor/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/vendor/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
